<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<h1>It works!</h1>
<h2>{{ title }}</h2>
<h3>Static time: {{ static_time|time:"s" }}</h3>
<h3>Dynamic time: {{ dynamic_time|time:"s" }}</h3>

<ul>
    {% for todo in todo_list %}
        <li>
            <strong>{{ todo.title }}</strong> - {{ todo.deadline }}
        </li>
    {% endfor %}
</ul>
</body>
</html>