<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
        form .helptext {
            display: none;
        }

        form label:hover + .helptext {
            display: block;
        }

        .form-control {
            padding: 5px 15px;
            color: white;
            background: black;
        }
    </style>
</head>
<body>

<ul>
    <li>
        <a href="{% url 'index' %}">Forms</a>
    </li>

    <li>
        <a href="{% url 'model forms' %}">Model forms</a>
    </li>
</ul>
<h1>{% block title %} {% endblock %}</h1>

{% block content %}
{% endblock %}

</body>
</html>