{% extends 'base/base.html' %}
{% load departments_tags %}
{% load int_filters %}
{% load str_filters %}

{% block content %}
    {{ filesize }}
    {{ filesize|filesizeformat }}
    <h1>{{ title }} (Original)</h1>
    <h1>{{ title|lower }} (lower)</h1> {# kind of like map #}
    <h1>{{ title|capfirst }} (capfirst)</h1>
    <h1>{{ title|capitalize }} (capitalize)</h1>
    <h1>{{ title|do_nothing }} (do_nothing)</h1>
    <h1>{{ number_1|increase_by:1000 }}</h1>
    <h1>{{ "123"|increase_by:1000 }}</h1>
    {#<h1>{{ title|increase_by:1000 }}</h1>#}
    <hr/>
    <p>{{ description }} (original)</p>
    <p>{{ description|truncatewords:7 }} (truncatewords:7)</p>
    <p>{{ description|truncatewords:10 }} (truncatewords:10)</p>
    <p>{{ description|truncatechars:7 }} (truncatechars:7)</p>
    <p>{{ description|truncatechars:10 }} (truncatechars:10)</p>
    <div>
        {{ employees }}
    </div>
    <div>
        {{ employees|join:', ' }}
    </div>
    <div>
        {{ department_names|join:', ' }}
    </div>

    <div>
        {% if number_1 < 200 %}
            {{ number_1 }} is less than 200
        {% elif number_1 == 200 %}
            {{ number_1 }} is 200
        {% else %}
            {{ number_1 }} is greater than 200
        {% endif %}
    </div>
    <div>
        {% if number_2 < 200 %}
            {{ number_2 }} is less than 200
        {% elif number_2 == 200 %}
            {{ number_2 }} is 200
        {% else %}
            {{ number_2 }} is greater than 200
        {% endif %}
    </div>
    <div>
        {% if number_3 < 200 %}
            {{ number_3 }} is less than 200
        {% elif number_3 == 200 %}
            {{ number_3 }} is 200
        {% else %}
            {{ number_3 }} is greater than 200
        {% endif %}
    </div>
    {% for number in numbers %}
        <div>
            {{ number }}
        </div>
    {% endfor %}

    {% for number in numbers %}
        <div>
            {% if number < 200 %}
                {{ number }} is less than 200
            {% elif number == 200 %}
                {{ number }} is 200
            {% else %}
                {{ number }} is greater than 200
            {% endif %}
        </div>
    {% endfor %}

    <ul>
        {% for employee in employees %}
            <li>
                {{ employee.first_name }} {{ employee.last_name }}
                (<i>{{ employee.get_job_title_display }}</i>
                in <strong>{{ employee.department.name }}</strong>)
            </li>
        {% endfor %}
    </ul>

    <ul>
        {% for employee in employees %}
            {% ifchanged employee.department.name %}
                <li>---</li>
            {% endifchanged %}
            {% ifchanged employee.first_name %}
                <li>***</li>
            {% endifchanged %}
            <li>
                {{ employee.first_name }} {{ employee.last_name }}
                (<i>{{ employee.get_job_title_display }}</i> in <strong>{{ employee.department.name }}</strong>)
            </li>
        {% endfor %}
    </ul>

    <div>
        {{ csrf_token }}
        {% csrf_token %}
    </div>

    {% departments_list %}

{% endblock %}