<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>List of departments</h1>
<ul>
    {% for department in departments %}
        <li>
            {{ department.name }}
            <ul>
                {% for employee in department.employee_set.all %}
                    <li>
                        {{ employee.first_name }}
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
    <hr>
    {% for employee in employees %}
        <li>
            {{ employee.first_name }} ({{ employee.department.name }})
        </li>
    {% endfor %}
</ul>
</body>
</html>