{% extends 'base.html' %}
{% block content %}
    <section class="createPage">
        <form method="post" action="{% url 'add album' %}">
            <fieldset>
                <legend>Add Album</legend>
                <div class="container">
                    {#<!-- Form for Adding Album -->#}
                    {#<label for="name">Album Name:</label>#}
                    {#<input id="name" type="text" placeholder="Album Name" required>#}
                    {##}
                    {#<label for="artist">Artist:</label>#}
                    {#<input id="artist" type="text" placeholder="Artist" required>#}
                    {##}
                    {#<label for="genre">Genre:</label>#}
                    {#<select id="genre" name="genre">#}
                    {#    <option value="1">-------</option>#}
                    {#    <option value="2">Pop Music</option>#}
                    {#    <option value="3">Jazz Music</option>#}
                    {#    <option value="4">R&B Music</option>#}
                    {#    <option value="5">Rock Music</option>#}
                    {#    <option value="6">Country Music</option>#}
                    {#    <option value="7">Dance Music</option>#}
                    {#    <option value="8">Hip Hop Music</option>#}
                    {#    <option value="9">Other</option>#}
                    {#</select>#}
                    {##}
                    {#<label for="description">Description:</label>#}
                    {#<textarea id="description" placeholder="Description"></textarea>#}
                    {##}
                    {#<label for="imgUrl">Image URL:</label>#}
                    {#<input id="imgUrl" type="url" placeholder="Image URL" required>#}
                    {##}
                    {#<label for="price">Price:</label>#}
                    {#<input id="price" type="number" placeholder="Price" required>#}

                    <!-- Button for Adding Album -->
                    {{ form }}
                    <button class="add-album" type="submit">Add New Album</button>
                    {% csrf_token %}
                </div>
            </fieldset>
        </form>
    </section>
{% endblock %}