{% extends 'base.html' %}

{% block content %}
    <section class="editPage">
        <form method="post" action="{% url 'delete album' pk=album.pk %}">
            <fieldset>
                <legend>Delete Album</legend>
                <div class="container">
                    {{ form }}
                    <button class="delete-album" type="submit">Delete Album</button>
                    {% csrf_token %}
                </div>
            </fieldset>
        </form>
    </section>
{% endblock %}