{% extends 'base.html' %}
{% block content %}
    <section id="detailsPage">
        <div class="wrapper">
            <div class="profileText">
                <h1>Are you sure you want to delete your profile?</h1>
                <form method="post" action="{% url 'delete profile' %}">
                    {{ form }}
                    <button class="delete-profile" type="submit">Delete</button>
                    {% csrf_token %}
                </form>

            </div>
        </div>
    </section>

{% endblock %}