{% extends "base.html" %}

{% block main_content %}
    <section id="detailsPage">
        <div class="wrapper">
            <div class="albumCover">
                <!-- Album Image -->
                <img src="{{ object.image_url }}" alt="{{ object.description }}"/>
            </div>

            <div class="albumInfo">
                <div class="albumText">
                    <!-- Album Info -->
                    <h1>Name: {{ object.name }}</h1>
                    <h3>Artist: {{ object.artist_name }}</h3>
                    <h4>Genre: {{ object.genre }}</h4>
                    <h4>Price: ${{ object.price|floatformat:2 }}</h4>
                    <p>
                        Description: {{ object.description }}
                    </p>
                </div>

                <div class="actionBtn">
                    <a href="{% url "edit_album" pk=object.pk %}" class="edit">Edit</a>
                    <a href="{% url "delete_album" pk=object.pk %}" class="remove">Delete</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}