{% extends "base.html" %}

{% block main_content %}
    <section class="createPage">
        <form action="{% url 'create_album' %}" method="post">
            <fieldset>
                <legend>Add Album</legend>
                <div class="container">
                    {{ form }}
                    <button class="add-album" type="submit">Add New Album</button>
                    {% csrf_token %}
                </div>
            </fieldset>
        </form>
    </section>

{% endblock %}