{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="container-inline">
        <section id="welcomePage">
            <div id="welcome-message">
                <h1>Welcome to</h1>
                <h1>My Music App!</h1>
            </div>
            <div class="music-img">
                <img src="{% static 'images/musicIcons.webp' %}" alt="music-icon">
            </div>
        </section>

        <section id="registerPage">
            <form method="post" action="{% url 'index' %}">
                <fieldset>
                    <legend>Profile</legend>
                    {#   <!-- Form for Registration -->#}
                    {#   <label for="username">Username:</label>#}
                    {#   <input id="username" name="username" type="text" placeholder="Username">#}
                    {##}
                    {#   <label for="email">Email:</label>#}
                    {#   <input id="email" name="email" type="email" placeholder="Email">#}
                    {##}
                    {#   <label for="age">Age:</label>#}
                    {#   <input id="age" name="age" type="number" min="0" placeholder="Age">#}
                    {{ form }}
                    <!-- Button to Create Profile -->
                    <button type="submit" class="register">Enter</button>
                    {% csrf_token %}
                </fieldset>
            </form>
        </section>
    </div>

{% endblock %}